// Width variables (appears count calculates by raw css)
@width3: 100%; // Appears 2 times
// Height variables (appears count calculates by raw css)
@height1: 200px; // Appears 2 times
@height3: 100%; // Appears 2 times
h1,
h2,
h3,
h4,
h5,
p,
li,
a,
font {
    color: #ffffff;
}
#dashboard {
    height: @height3;
}
#overview {
    background-color: black;
    height: @height3;
    width: @width3;
}
#circle {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    overflow-x: hidden;
    width: 300px;
}
#circle>ul {
    height: @height1;
    list-style: none;
    padding: 0;
}
#circle>ul>li {
    background-color: white;
    border-radius: 300px;
    border: 20px solid #ec407a;
    height: 180px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 180px;
    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        height: @height1;
        line-height: 100px;
        width: 200px;
    }
    &:nth-child(2) {
        border: 20px solid #607D8B;
    }
    &:nth-child(3) {
        border: 20px solid #03A9F4;
    }
    &:nth-child(4) {
        border: 20px solid #FF5722;
    }
    &:nth-child(5) {
        border: 20px solid #4CAF50;
    }
}
#circle>ul>li>a>h3 {
    color: #939599;
    font-size: 5.2em;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
}
.width {
    width: @width3;
}
.circle {
    border-radius: 50%;
    border: 1px solid black;
    height: 20em;
    list-style: none;
    margin: 1em auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 20em;
}
.circle > li {
    height: 50%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 0% 100%;
    width: 50%;
    &:first-child {
        transform: rotate(0deg) skewY(-60deg);
        .text {
            background: green;
        }
    }
    &:nth-child(2) {
        transform: rotate(30deg) skewY(-60deg);
        .text {
            background: tomato;
        }
    }
    &:nth-child(3) {
        transform: rotate(60deg) skewY(-60deg);
        .text {
            background: aqua;
        }
    }
    &:nth-child(4) {
        transform: rotate(90deg) skewY(-60deg);
        .text {
            background: yellow;
        }
    }
    &:nth-child(5) {
        transform: rotate(120deg) skewY(-60deg);
        .text {
            background: orange;
        }
    }
    &:nth-child(6) {
        transform: rotate(150deg) skewY(-60deg);
        .text {
            background: purple;
        }
    }
    &:nth-child(7) {
        transform: rotate(180deg) skewY(-60deg);
        .text {
            background: cyan;
        }
    }
    &:nth-child(8) {
        transform: rotate(210deg) skewY(-60deg);
        .text {
            background: brown;
        }
    }
    &:nth-child(9) {
        transform: rotate(240deg) skewY(-60deg);
        .text {
            background: gray;
        }
    }
    &:nth-child(10) {
        transform: rotate(270deg) skewY(-60deg);
        .text {
            background: pink;
        }
    }
    &:nth-child(11) {
        transform: rotate(300deg) skewY(-60deg);
        .text {
            background: maroon;
        }
    }
    &:nth-child(12) {
        transform: rotate(330deg) skewY(-60deg);
        .text {
            background: gold;
        }
    }
}
.text {
    height: 200%;
    left: -100%;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    transform: skewY(60deg) rotate(15deg);
    width: 200%;
}
